/* 
decleration block:

    selector {
        property: value;
        property: value2;
    }
*/

body {
    background-color: rgb(231, 105, 111);
    color : rgb(0, 0, 0);
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;
}

Shades Meme.webp {
    position: absolute;
    margin-right: 200px;
    width: 200px;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;   
}

h1 {
    text-align: center;
}