/* 
decleration block:

    selector {
        property: value;
        property: value2;
    }
*/

body {
    background-color: rgb(231, 105, 111);
    color : rgb(0, 0, 0);
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: 200px;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;   
}

h1 {
    text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}